<%= form_with(model: member_voice_session) do |form| %>
  <% if member_voice_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_voice_session.errors.count, "error") %> prohibited this member_voice_session from being saved:</h2>

      <ul>
        <% member_voice_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :member_id, style: "display: block" %>
    <%= form.text_field :member_id %>
  </div>

  <div>
    <%= form.label :channel_id, style: "display: block" %>
    <%= form.text_field :channel_id %>
  </div>

  <div>
    <%= form.label :discord_session_id, style: "display: block" %>
    <%= form.number_field :discord_session_id %>
  </div>

  <div>
    <%= form.label :time_joined, style: "display: block" %>
    <%= form.datetime_field :time_joined %>
  </div>

  <div>
    <%= form.label :time_left, style: "display: block" %>
    <%= form.datetime_field :time_left %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
