<div id="<%= dom_id member_voice_session %>">
  <p>
    <strong>Member:</strong>
    <%= member_voice_session.member_id %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= member_voice_session.channel_id %>
  </p>

  <p>
    <strong>Discord session:</strong>
    <%= member_voice_session.discord_session_id %>
  </p>

  <p>
    <strong>Time joined:</strong>
    <%= member_voice_session.time_joined %>
  </p>

  <p>
    <strong>Time left:</strong>
    <%= member_voice_session.time_left %>
  </p>

</div>
